<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color: darkslateblue">
    Welcome to {{ title }} !
  </h1>
</div>
<div align="center">
  <form class="example-form">
    <mat-form-field class="passwordText" appearance="outline">
      <input matInput placeholder="Encrypted Password" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-hint>Encrypted Password Here!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('incorrect')">
        Couldn't decrypt!! Enter A Valid Encrypted text
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Encrypted Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="decrypt(this.emailFormControl.value)">Decrypt</button>
    <mat-form-field class="passwordText" appearance="outline">
      <input matInput placeholder="Decrypted Password" [(ngModel)]="decPassword" name="decPasswordInput">
    </mat-form-field>
  </form>
</div>
<div align="left" style="padding: 20px">
  <h2 style="color: darkslateblue">Shameless Plug 👍</h2>
  If this helped you, I would definitely appreciate a 👍 for my <a href="https://stackoverflow.com/questions/39928401/recover-db-password-stored-in-my-dbeaver-connection/39928445#39928445">SO answer</a>
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2 style="color: darkslateblue">How to do that?</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <a href="https://stackoverflow.com/questions/39928401/recover-db-password-stored-in-my-dbeaver-connection/39928445#39928445">
    <img style="width:720px; height:158px" src="assets/shamelessplug.gif">
  </a>
</mat-expansion-panel>

