<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div align="center">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Encrypted Password" [(ngModel)]="encPassword">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="decrypt(encPassword)">Decrypt</button>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Decrypted Password" [(ngModel)]="decPassword">
  </mat-form-field>
</div>
